.card-btn {
  margin-top: 1em;
  padding: 0.5em 1.2em;
  border-radius: 10px;
  background-color: #e3a63c;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: #d18f20;
  transform: scale(1.05);
}
