.msnvsn{
    display: flex;
    justify-content: space-around;
}

.msnvsnpara{
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width:27em;
}

.img{
    width: 20em;
    border-radius: 50%;
    margin-top: 2em;
}

@media (max-width: 768px){
    .msnvsn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .msnvsnpara{
        width: 20em;
    }
}