.cardsec{
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
}

.imgpara{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.srvintro{
    margin-top: 4em;
    line-height: 30px;
}

.srvimg{
    width: 30em;
    margin-top: 2em;
}

@media (max-width : 768px){
    .cardsec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20em;
        margin-left: 2em;
    }

    .imgpara{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}